<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji50.zhucexia.dao.mapper.SaleOrderPoMapper">
	<resultMap id="BaseResultMap" type="com.keji50.zhucexia.dao.po.SalaOrderPo">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="customer_id" property="customerid" jdbcType="DECIMAL" />
		<result column="customer_name" property="customername" jdbcType="VARCHAR" />
		<result column="order_money" property="ordermoney" jdbcType="DECIMAL" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="zip_code" property="zipcode" jdbcType="VARCHAR" />
		<result column="payment_id" property="paymentid" jdbcType="DECIMAL" />
		<result column="payment_code" property="paymentcode" jdbcType="VARCHAR" />
		<result column="payment_name" property="paymentname" jdbcType="VARCHAR" />
		<result column="delivery_id" property="deliveryid" jdbcType="DECIMAL" />
		<result column="delivery_code" property="deliverycode" jdbcType="VARCHAR" />
		<result column="delivery_name" property="deliveryname" jdbcType="VARCHAR" />
		<result column="order_state" property="orderstate" jdbcType="VARCHAR" />
		<result column="payment_state" property="paymentstate" jdbcType="VARCHAR" />
		<result column="delivery_state" property="deliverystate" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="alipay_trade_no" property="alipaytradeno" jdbcType="VARCHAR" />
		<result column="delivery_trade_no" property="deliverytradeno" jdbcType="VARCHAR" />
		<result column="orderstate_time" property="orderstatetime" jdbcType="TIMESTAMP" />
		<result column="payment_time" property="paymenttime" jdbcType="TIMESTAMP" />
		<result column="delivery_time" property="deliverytime" jdbcType="TIMESTAMP" />
		<result column="cancel_time" property="canceltime" jdbcType="TIMESTAMP" />
		<result column="order_no" property="order_no" jdbcType="VARCHAR" />
		<result column="order_pic" property="order_pic" jdbcType="VARCHAR" />
	</resultMap>
	<!--  商品信息映射 
	<resultMap type="com.keji50.zhucexia.dao.po.GoodPo" id="goods">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="pic" property="pic" jdbcType="VARCHAR" />
	    
	</resultMap>	
	收货地址
	<resultMap type="com.keji50.zhucexia.dao.po.CustomerAddrPo" id="customerAddr">
		<id column="id" property="id" jdbcType="DECIMAL" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	订单详情和商品表一对一映射
	<resultMap type="com.keji50.zhucexia.dao.po.SaleOrderDetailPo" id="goodsDetail">
		<result column="good_id" property="good_id" jdbcType="DECIMAL"/>
		<result column="good_price" property="good_price" jdbcType="DECIMAL"/>
	    <result column="good_num" property="good_num" jdbcType="DECIMAL"/>
	    <result column="order_id" property="order_id" jdbcType="DECIMAL"/>
	    <association property="goods" javaType="com.keji50.zhucexia.dao.po.GoodPo" resultMap="goods"></association>
	</resultMap>
	订单和收货地址一对一映射，和订单详情一对多映射
	<resultMap type="com.keji50.zhucexia.dao.po.SalaOrderPo" id="saleOrders">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="order_money" property="ordermoney" jdbcType="DECIMAL" />
	    <result column="payment_name" property="paymentname" jdbcType="VARCHAR" />
	    <result column="orderstate_time" property="orderstatetime" jdbcType="TIMESTAMP" />
	    <result column="order_no" property="order_no" jdbcType="VARCHAR" />
	    <result column="payment_state" property="paymentstate" jdbcType="VARCHAR" />
	    <association property="addr" javaType="com.keji50.zhucexia.dao.po.CustomerAddrPo" resultMap="customerAddr">
	    	 <id column="id" property="id" jdbcType="DECIMAL" />
	    	 <result column="name" property="name" jdbcType="VARCHAR" />
	    </association>
	    <collection property="lists" ofType="com.keji50.zhucexia.dao.po.SaleOrderDetailPo" resultMap="goodsDetail">
	    </collection>
	</resultMap> -->
	<sql id="Base_Column_List">
		id,order_no,customer_id,customer_name,order_money,address,mobile,telephone,email,zip_code,payment_id,payment_code
		,payment_name,delivery_id,delivery_code,delivery_name,order_state,payment_state,delivery_state,delivery_state,
		remark,create_by,create_time,update_by,update_time,alipay_trade_no,delivery_trade_no,orderstate_time,payment_time
		,delivery_time,cancel_time
	</sql>
	<!-- 查询用用的某个订单的信息 -->
	<select id="getOrder" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from sale_order where 1=1 and id=#{id}
	</select>
	
	 <insert id="addOrder"  parameterType="com.keji50.zhucexia.dao.po.SalaOrderPo" >
		insert into sale_order(order_no,customer_id,customer_name,order_money,order_state,orderstate_time,order_pic,remark)
	    values(CONCAT(DATE_FORMAT(now(), '%Y%m%d%h%i%s'),LPAD(LAST_INSERT_ID()+1, 11, '0')),#{customerid},#{customername},#{ordermoney},
		#{orderstate},#{orderstatetime},#{order_pic},#{remark})
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
  			select LAST_INSERT_ID() 
  		</selectKey>
	</insert> 
	<select id="getOrderByno" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from sale_order where 1=1 and order_no=#{order_no}
	</select>
	
	<!-- 修改订单信息 -->
	<update id="update" parameterType="com.keji50.zhucexia.dao.po.SalaOrderPo" >
		update sale_order set 
		order_state=#{orderstate},payment_state=#{paymentstate},alipay_trade_no=#{alipaytradeno},payment_time=#{paymenttime}
		where order_no=#{order_no}
	</update>
	
	<!-- 修改订单地址信息 -->
	<update id="updateAddr" parameterType="com.keji50.zhucexia.dao.po.SalaOrderPo" >
		update sale_order set address=#{address},telephone=#{telephone},payment_id=#{paymentid},payment_code=#{paymentcode},payment_name=#{paymentname},
		zip_code=#{zipcode} where order_no=#{order_no}
	</update>
	
	<!-- 查询素所有订单信息，包含订单详情 -->
	<select id="querryOrders" resultType="java.util.HashMap" parameterType="java.util.HashMap">
<!-- 		SELECT d.name , a.name ,a.id as goods_id,a.pic,b.order_no ,b.id  ,
		b.payment_name,b.order_money,b.create_time,b.payment_state,
		b.order_state FROM good a ,sale_order b ,sale_order_detail c ,
		customer_address d
	    WHERE b.address=d.id AND b.order_no=c.order_no 
	    AND c.good_id=a.id -->
	    select b.order_no ,b.id ,b.orderstate_time,b.delivery_state,b.payment_code,
		b.payment_name,b.order_money,b.create_time,b.payment_state,b.remark,b.order_pic,
		b.order_state,d.name from sale_order b left outer join customer_address d on  b.address=d.id where 
		<choose>
			<when test="types==0">
				 1=1 and b.order_state!='8'
			</when>
			<when test="types==1">
				 b.order_state='1' and b.payment_state='0' and (b.payment_code!='cash_on_delivery' or b.payment_code is null)
			</when>
			<when test="types==2">
				 ((b.order_state='1' and b.payment_state='1') or (b.payment_code='cash_on_delivery' and b.order_state='1' and b.payment_state='0'))
			</when>
			<when test="types==3">
				 b.order_state='2' and payment_state='1'
			</when>
			<when test="types==4">
				 b.order_state='9'
			</when>
		</choose>
		<if test="times==null">
			and 1=1
		</if>
		<if test="times!=null">
			and b.create_time>=date
		</if>
	</select>
	
	<!-- 逻辑删除 -->
	<update id="delOrder" parameterType="java.lang.String">
		update sale_order set order_state ='8' where id=#{id}
	</update>
	<!-- 取消订单 -->
	<update id="cancleOrder" parameterType="java.lang.String">
		update sale_order set order_state='9' where id=#{id}
	</update>
</mapper>