body{
			 margin:0px;
			 padding:0px;
			 background-color:#f5f5f9;
			 max-width:1024px;
			}
			.bg{
				width:100%;
			}
			div.headerClass{
				background-color:white;
				width:100%;
				border-bottom:1px solid rgb(210, 210, 210);
				position:fixed;
				top:0px;
			}

			div.b{
				padding:6px 0px;
				text-align:center;
				width:50%;
				border-right:1px solid lightgrey;
				float:right;	
				margin:0px;
			}
			div.a{
			    padding:6px 0px;
				text-align:center;
				width:49%;
				border-right:1px solid lightgrey;
				float:left;
				margin:0px;
			}
			.hrs{
				width:100%;
				height:8px;
				background-color:lightgrey;
				margin:0px;
				margin-top:30px;
			}
			.goodsName{
				list-style-type:none;
				background-color:white;
				margin:0;
				padding:0;
			}
		    li{
				padding:12px;
			}
			.goodsName li:nth-child(odd){
				background-color:#f8f8f8;
			}
			.rights{
				float:right;
			}
			span:first-child{
				color:rgb(155, 155, 155);
			}
			.address{
				background-color:rgba(97, 97, 97, 0.16);
				padding:12px;		
				height:
			}
			.addr{
				list-style-type:none;
				background-color:white;
				margin:0px;
				padding:0px;
			}
			li input{
				border:none;
				font-size:15px;
				margin:6px;
				margin-left:0px;
				padding:6px;
				padding-left:0px;
				border-bottom:1px solid rgb(239, 239, 239);
				width:98%;
				float:left;
				outline:none;
			
			}
			.clear{
				clear:both;
			}
			div.next{
				border-radius:2px;
				-moz-border-radius:2px;
				margin:24px 5%;
				width:90%;
			}